gitinput{ border-top-right-radius: 8px;
    border-top-color: rgb(16, 16, 2);
    border-color: rgb(16, 16, 2);
    border-style: solid;
    padding: 10px;
    background-color: rgb(240, 240, 222);

}
*{ background-color: rgb(234, 234, 141)  }

.form-label{
    font-size: 24px;
    color:black
}
button{ background-color:rgb(20, 111, 20);
    padding: 6px;
    font-size: 18px;

#logo {
        position: relative;
        left: 150%; 
        top: 300%
    }